/* added for custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap'); 

/* the styling of the whole page */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* the styling of the body of the page */
body{
    background-image: linear-gradient(to bottom,#ffe083, #F2994A);
    background-size: cover;   
    animation: trans 0.85s
}
/* animation for a smooth loadng of the body */
@keyframes trans {
    from{
        opacity: 0;
        transform: translate(-10deg);
    }
    to{
        opacity: 1;
        transform: translate(0);
    }
}
/* styling the navbar */
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
    /* general padding of the site */
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 1%;
    margin-bottom: 80px;
}
/* styling the logo */
.logo{
    width: 150px;
    font-family: 'Rubik', sans-serif;
    transition: ease 1s;
    user-select: none;
}
/* when on hover, the logo will shine */
.logo:hover{
    background: linear-gradient(90deg,  black, rgb(49, 49, 49), rgb(65, 65, 65), rgb(107, 107, 107), 
    rgb(139, 139, 139), #c7c7c7, #fff,rgb(49, 49, 49), black);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 100%;
    color: transparent;
    animation: shine 3s linear infinite;
}
/* animation keyframes for the shine effect */
@keyframes shine{
    0%{
        background-position: 0px 0px;
    }
    100%{
        background-position: 400px 0px;
    }
}
/* styling of the nav so it appears on the right side of the bar */
nav{
    flex: 1;
    text-align: right;
}
/* styling the nav links and the spaces between them*/
nav ul li{
    display: inline-block;
    list-style: none;
    margin-left: 65px;
    position: relative;
    /* to position the links on top of the block */
    z-index: 2;
}
/* styling the links so it looks like a text */
nav ul li a{
    text-decoration: none;
    color: #000000;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}
/* in darkmode, the background of the block will change to blue */
.dark nav ul li::after{
    background: #357fe0;
}
/* this code is for the navigation effect in which a border will appear when on hover */
nav ul li::after{
    content:'';
    background: #e0b035;
    padding: 20px 53px;
    border-radius: 30px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.5s, opacity 0.5s;
    opacity: 0;
    z-index: -1;
}
/* when hovered, the border appears */
nav ul li:hover::after{
    top: 50%;
    opacity: 1;
}
/* styling for the title of the page */
.title_box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: auto;
    text-align: center;
    /* general padding of the site */
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 20%;
}
/* styling of the image */
img{
    margin-left: 480px;
    margin-right: 480px;
    transition: ease;
    width: 25%;
}
/* styling of the main title */
.title_box h1{
    font-family: 'Rubik', sans-serif;
    font-size: 120px;
    color: transparent;
    /* the title will turn into stroke and the background image is clipped to give the shine effect */
    -webkit-text-stroke: 1px #000000;
    -webkit-background-clip: text;
    /* clips the background to the foreground text */
    background-clip: text;
    background-image: url(shine.png);
    animation: shine 15s linear infinite ;
    user-select: none;
}
/* moves the image */
@keyframes shine{
    100%{
        background-position: 3000px 0;
    }
}
/* styling of the text below the title */
.title_box p{
    font-family: 'Quicksand', 'Times New Roman', Times, serif;
    font-size: 15px;
}
/* button styling */
.button{
    display: block;
    margin: auto;
    margin-top: 21px;
    width: 18%;
    height: 25px;
    position: relative;
    cursor: pointer;
    margin-bottom: -200px;

    padding: 20px;
    padding-bottom: 48px;

    color: #000000;
    font-size: 20px;
    text-align: center;

    text-decoration: none;
    font-family: 'Quicksand', 'Times New Roman', Times, serif;
}
/* lines of the button that appear on hover */
.button:after, .button:before{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
}
/* styling of different lines */
.button:after{
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #77fafa;
    border-right: 4px solid #b88b24;
}
.button:before{
    top: 0;
    left: 0;
    border-top: 4px solid #b88b24;
    border-left: 4px solid #77fafa;
}
/* on hover, the lines will form a rectangle and look like a button */
.button:hover:after, .button:hover::before{
    transition: 0.9s, opacity 0.2s ;
    opacity: 1;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
}
/* footer styling */
.contacts{
    display: flex;
    flex-direction: column;
}
/* takes away the styling of the lists */
.socmed{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
/* styling the list */
.socmed li{
    margin: 30px;
    padding-top: 10px ;
    font-size: 30px;
}
/* styling the icons */
.socmed i{
    color: #000000;
    text-decoration: none;
    transition: .3s /* for smooth animation */
}
/* on hover, the social medias will lift */
.socmed a:hover i{
    transform: translate(0, -10px);
}

/* dark mode styling */
.dark{
    background: linear-gradient(#141e30 ,#243b55);
    color: white;
    transition: 1s;
}
/* styling the toggle image of dark mode */
#toggle{
    width: 35px;
    position: absolute;
    margin-left: 41px;
    margin-top: -10px;
    cursor: pointer;
}
.dark nav ul li a{
    color: white;
    transition: 1s;
}
.dark .box{
    color: white;
    transition: 1s;
}
.dark h3{
    color: white;
    transition: 1s;
}
.dark .socmed i{
    color: white;
    transition: 1s;
}
.dark .button{
    color: white;
    transition: 1s;
}
.dark .title_box h1{
    -webkit-text-stroke: 1px white;
    background-image: url(shine2.png);
}